<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Image Upload</title>
    <style>
        @font-face {
            font-family: "AC Boucle";
        }
        body {
            font-family: "AC Boucle", sans-serif;
            background-color: plum;
            color: #333;
            display: flex;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: darkblue;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>

<h1>Image</h1>
<img id="image" th:src="'data:image/png;base64,' + ${image}" alt="Uploaded Image"/>

</body>
</html>